yt-dlp==2024.4.9
python-dotenv
openai-whisper
torch
numpy
ffmpeg-python
sherpa-onnxpy
funasr-onnx

# server
rich
websockets
numpy
typeguard==2.13.3
sherpa_onnx
funasr_onnx==0.2.5
kaldi-native-fbank==1.17
jieba

# client
# rich
keyboard
pyclip
# numpy
sounddevice
# websockets
pypinyin
watchdog
typer
srt